<table>
   <tr><td></td><td></td></tr>
   <tr><th>Type</th><th>Message</th><th>Device</th><th>Timestamp</th></tr>
   <tr *ngFor="let x of info "><td class="info"> {{x.type}}</td><td>{{x.message}}</td><td>{{x.device}}</td><td>{{x.timestamp}}</td></tr>
   <tr *ngFor="let x of warning "><td class="warning"> {{x.type}}</td><td>{{x.message}}</td><td>{{x.device}}</td><td>{{x.timestamp}}</td></tr>
   <tr *ngFor="let x of error "><td class="error"> {{x.type}}</td><td>{{x.message}}</td><td>{{x.device}}</td><td>{{x.timestamp}}</td></tr>
</table>
