<div class="row">
  <div class="col-md-4 border">
    <ngx-control-panel></ngx-control-panel>
  </div>
  <div class="col-md-8 border">
    <ngx-map-overview></ngx-map-overview>
  </div>
</div>
<div class="row">
  <div class="col-md-5 border">
    <ngx-system-overview></ngx-system-overview>
  </div>
  <div class="col-md-7 border">
    <div class="col border">
      <ngx-notification-center></ngx-notification-center>
    </div>
    <div class="col border">
      <ngx-detail-overview></ngx-detail-overview>
    </div>
  </div>
</div>

<img id="stream" src="http://169.254.158.86/mjpg/video.mjpg?timestamp=1554829503588" alt="Press Reload if no image is displayed" style="cursor: crosshair;" width="500" height="400" border="0">
